html{
  scroll-behavior: smooth;
}

button.reload{
  background-color: #000000; 
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.5s;
  align-self: center;
}
button.reload:hover{
  background-color: #ffffff;
  color: black;
}
.container {
  height: 50px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h3{
  text-align: center;
}

.scrollButton {
  background-color: dodgerblue;
  color: white;
  padding: 16px;
  height: 64px;
  transition-duration: 0.5s;

}
button.scrollButton:hover{
  background-color: #ffffff;
  color: black;
}

.grid-container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  gap: 16px; 
}
.grid-item {
  background-color: dodgerblue;
  color: white;
  padding: 16px;
  height: 64px;
}

@media (min-width: 300px) {
  .grid-container { grid-template-columns: repeat(1,1fr); }
  .scrollButton {width: 100%;}
}
@media (min-width: 600px) {
  .grid-container { grid-template-columns: repeat(2,1fr); }
  .scrollButton {width: 100%;}
}

@media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); }
  .scrollButton {width: 100%;}
}