h1.Gamer{
  text-align: center;
}
button.noot{
  background-color: #000000; 
  border: solid;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.8s;
}

button.noot:hover{
  background-color: #ffffff;
  color: black;
}
