.column {
    float: left;
    width: 50%;
    height: 500px;
    /* outline: solid; */
    text-align: center;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.tag {
    font-size: 25px;
    /* text-align: center; 
    vertical-align: middle;
    display: table-cell;    */
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
